@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

.productoSombra {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

body {
  background: rgb(0, 108, 155);
  background: linear-gradient(90deg, rgb(0, 108, 155) 0%, rgb(65, 188, 204) 36%, rgb(235, 75, 51) 100%);
}

Footer {
  background-color: #212529 !important;
}

.textoCarrito h2 {
  font-family: "Staatliches", cursive;
  font-size: 3rem;
}

.textoCarrito {
  height: 70vh;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

.cart-item {
  display: flex;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 7rem;
  width: 25rem;
}
.cart-item img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cart-item p {
  margin: 0;
}
.cart-item .card-buttons {
  display: flex;
  gap: 10px;
}
.cart-item .title-price-x {
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
}
.cart-item .title-price-x p {
  font-size: 1rem;
}
.cart-item .title-price-x .title-price {
  display: flex;
  /* align-items: center; */
  gap: 0px;
  margin-top: 10px;
}
.cart-item .title-price-x h4 .title-name {
  max-width: 215px;
  min-width: 215px;
}
.cart-item .title-price-x h4 .title-item-price {
  padding: 3px 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bi-dash-lg {
  color: red;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.bi-plus-lg {
  color: green;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.bi-dash-lg:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.bi-plus-lg:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

.footerCopyr {
  background-color: #EB4B33;
}

.card {
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}

.card-img-actions {
  position: relative;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

.card-img {
  width: 350px;
}

.star {
  color: red;
}

.bg-cart {
  background-color: orange;
  color: #fff;
}

.bg-cart:hover {
  color: #fff;
}

.bg-buy {
  background-color: green;
  color: #fff;
  padding-right: 29px;
}

.bg-buy:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
}

.cartAmount {
  position: absolute;
  font-size: 11px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 5px;
  top: 17px;
  left: 423px;
}

.separador {
  font-family: "Slabo 27px", serif;
  font-size: 2.5rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.separador:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.ofertasEffect {
  background-image: linear-gradient(to right, white, white 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.ofertasEffect:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.ofertasEffect:hover {
  background-position: 0;
}

.ofertasEffect:hover::before {
  width: 100%;
}

.form-control {
  padding: 0rem 5.75rem 0rem 1rem !important;
}

.ofertasTexto {
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 2.5rem;
  text-decoration: underline;
}

.productoSombra:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ratings i {
  font-size: 16px;
  color: red;
}

.ratings2 i {
  font-size: 16px;
  color: #0dcaf0;
}

.strike-text {
  color: red;
  text-decoration: line-through;
}

.product-image {
  width: 100%;
}

.producto {
  font-family: sans-serif;
  width: 18rem;
}

/***** Slider Css *****/
.swiper-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 8rem;
}

.img-swipper {
  width: 100%;
  min-height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/***** End Slider Css *****/
.btn {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.spec-1 {
  color: #938787;
  font-size: 15px;
}

h5 {
  font-weight: 400;
}

.para {
  font-size: 16px;
}

.header-page {
  background-color: #EB4B33;
}

.textoDesc {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.navbar-toggler-icon {
  background-image: url(./assets/img/Logo.png);
  width: 1.5rem;
}

.instaButt {
  background-color: #ac2bac !important;
}

.twitButt {
  background-color: #55acee !important;
}

.faceButt {
  background-color: #3b5998 !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  #navbarSupportedContent {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .navLogo {
    display: none;
  }
  .navbar-brand {
    margin: 0;
  }
  .usuario {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bi-person-circle,
.bi-cart-fill {
    margin-top: -2px;
    margin-left: 0 !important;
  }
  .strike-text {
    margin-bottom: 9px;
  }
}/*# sourceMappingURL=main.css.map */