* {
    margin: 0;
    padding: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


.productoSombra {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

body {
    background: rgb(0, 108, 155);
    background: linear-gradient(90deg, rgba(0, 108, 155, 1) 0%, rgba(65, 188, 204, 1) 36%, rgba(235, 75, 51, 1) 100%);
}

Footer {
    background-color: #212529 !important;
}

.footerCopyr {
    background-color: #EB4B33;

}

// card //
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;

    width: fit-content;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {

    width: 350px;
}

.star {
    color: red;
}

.bg-cart {
    background-color: orange;
    color: #fff;
}

.bg-cart:hover {

    color: #fff;
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px;
}

.bg-buy:hover {

    color: #fff;
}

a {

    text-decoration: none !important;
}

.cartAmount {
    position: absolute;
    font-size: 11px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 5px;
    top: 17px;
    left: 423px;
}
//
.separador {
    font-family: "Slabo 27px", serif;
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.separador:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

// efecto

.ofertasEffect {
    background-image: linear-gradient(to right, white, white 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ofertasEffect:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.ofertasEffect:hover {
    background-position: 0;
}

.ofertasEffect:hover::before {
    width: 100%;
}

//fin animación


.form-control {
    padding: 0rem 5.75rem 0rem 1rem !important;
}

.ofertasTexto {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 2.5rem;
    text-decoration: underline;
}

.productoSombra:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ratings i {
    font-size: 16px;
    color: red
}

.ratings2 i {
    font-size: 16px;
    color: #0dcaf0
}
.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%;

}

.producto {
    font-family:sans-serif;
    width: 18rem;
}


/***** Slider Css *****/


.swiper-container {
    min-height: fit-content;
    margin: 0 8rem;
}

.img-swipper {
    width: 100%;
    min-height: 45vh;
    object-fit: cover;
}


/***** End Slider Css *****/
.btn {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.header-page {
    background-color: #EB4B33;
}

.textoDesc {
    max-height: fit-content;
}

.navbar-toggler-icon {
    background-image: url(./assets/img/Logo.png);
    width: 1.5rem;
}

.instaButt {
    background-color: #ac2bac !important;
}

.twitButt {
    background-color: #55acee !important;
}

.faceButt {
    background-color: #3b5998 !important;
}



@media (min-width: 320px) and (max-width: 768px) {
    #navbarSupportedContent {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .navLogo {
        display: none;
    }

    .navbar-brand {
        margin: 0;
    }

    .usuario {
        width: fit-content;
    }

    .bi-person-circle,
    .bi-cart-fill {
        margin-top: -2px;
        margin-left: 0 !important;
    }

    .strike-text {
        margin-bottom: 9px;
    }



}