* {
    margin: 0;
    padding: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.body {
    background: #eee
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.header-page {
    background-color: #EB4B33;
}

@media (min-width: 320px) and (max-width: 768px) {
    #navbarSupportedContent {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .navbar-brand {
        margin: 0;
    }

    .usuario {
        width: fit-content;
    }

    .bi-person-circle,
    .bi-cart-fill {
        margin-top: -2px;
        margin-left: 0 !important;
    }
}